name: nixox-config

on:
  push:
    branches: ["main"]
    tags:
      - "v*.*.*"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        # see : https://github.com/actions/runner-images
        include:
          - target: linux-amd64
            os: ubuntu-latest
            runs-on: []
    name: ${{ matrix.target }}
    runs-on:
      - ${{ matrix.os }}
      - ${{ matrix.runs-on }}
    steps:
      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: "rampage"
      - uses: 7mind/github-env@minimal
        with:
          setup-nix: ${{ matrix.preconfigured != true }}
      - name: Verify configurations
        run: |
          nix flake check --no-build
          ./verify-configs
  build-max:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: macos-aarch64-14
            runs-on: []
            os: macos-14 # yes, this is aarch64
    name: ${{ matrix.target }}
    runs-on:
      - ${{ matrix.os }}
      - ${{ matrix.runs-on }}
    steps:
      - uses: 7mind/github-env@minimal
        with:
          setup-nix: ${{ matrix.preconfigured != true }}
      - name: Verify configurations
        run: |
          nix flake check --no-build --extra-experimental-features 'nix-command flakes'
          ./verify-configs
